

body {
    background-color: bisque;
    font-family: Arial, sans-serif;
    
}


nav {
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    width: 100%;
    gap: 50px;
    padding: 20px;
    background-color: #00eeff;
    
}

section{
    display: flex;              
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
    padding: 120px 80px;        
}


 h2 {

    
    font-size: 30px;
    margin-right:15px ;
    padding-right:90px;
    font-family:'Times New Roman', Times, serif;
}

 h3 {
    
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-right:15px ;
    padding-right:90px;
}

 p {
    
    margin-right: 15px;
    padding-right: 90px;
    font: size 10px;
    font-family: 'Times New Roman', Times, serif ;
    
}
#photo {
    width: 420px;
    height: 420px;
    border-radius: 50%;
    overflow: hidden;
    border-color: white;
}

#photo img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
}


   




    
   










